<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>187769355181-ud517b905ddnql7prrdggc99j90b1fuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187769355181-ud517b905ddnql7prrdggc99j90b1fuk</string>
	<key>API_KEY</key>
	<string>AIzaSyCkzj_F47XLGPZ1kFmy2L3APZbweonYAbU</string>
	<key>GCM_SENDER_ID</key>
	<string>187769355181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bocci.BackPackApp</string>
	<key>PROJECT_ID</key>
	<string>backpackapp-6b725</string>
	<key>STORAGE_BUCKET</key>
	<string>backpackapp-6b725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187769355181:ios:2b7d541755084fe4</string>
	<key>DATABASE_URL</key>
	<string>https://backpackapp-6b725.firebaseio.com</string>
</dict>
</plist>